/* #navLinks{
    text-shadow: 2px 2px 10px black;
}

#navLinks:hover{
    color: white;
}

#navImage{
    box-shadow: 2px 2px 2px 2px rgb(85, 0, 255);
}

#navSearch{
    box-shadow: 1px 1px 1px 1px rgb(0, 42, 255);
} */